.wrapper {
	width: 100%;
	margin: 0 auto;
	box-sizing: border;

}


.left-column {
	float:left;
	background-color:lightblue;
	width: 50%;
	height: 500px;
	align-content: center;
	padding:100px;
	box-sizing: border-box;

}

img {
	width: 40%;
	float:left;
}

.right-column{
	float:left;
	background-color: black;
	width: 50%;
	height: 500px;
	padding:100px;
	box-sizing: border-box;

}

.footer{
	clear:both;
	background-color:tan;
	height: 100px;
	text-align: center;
	padding: 30px;

}

h2{
	color:white;
}

button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    margin-top: 20px;
}

button:hover {
    opacity: 0.8;
}

form{
background-color: tan;
width: 70%;
padding:40px;
}

input{
width: 100%;
padding:5px;
}